<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Appointment Scheduler</a>
        <ul>
            <li><a href="/authors">Appointments</a></li>
            <li><a href="/authors/new">Add Appointment</a></li>
        
        </ul>
    </nav>
</header>