<h2 class="page-header">Edit Appointment</h2>
<form action="/appointments/<%= appointment.id %>?_method=PUT" 
    method="POST">
    <%- include('_form_fields') %>
    <a href="/appointments/<%= appointment.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>