<h2 class="page-header">New Appointment</h2>
<form action="/appointments" method="POST">
    <%- include('_form_fields') %>
    <a href="/appointments">Cancel</a>
    <button type="submit">Create</button>
</form>